/* CORPO */
body {
    background-color: rgba(222, 242, 249, 1);
    margin-right: 6%;
    margin-left: 6%;
}

.bloco1 {
    text-align: center;
    justify-content: space-around;
    display: inline;
}

/* FONTES */
h1 {
    background: var(--gradiente-text,
            linear-gradient(rgba(12, 32, 66, 1), rgba(39, 169, 219, 1)));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Quicksand";
    word-wrap: break-word;
    background-clip: text;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0%;
    text-align: left;
    font-size: 30px;
    max-width: 45%;
}

h2 {
    font-family: "Quicksand", sans-serif;
    color: rgba(10, 29, 62, 1);
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
}

h3 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-top: 0%;
}

p {
    font-family: "Quicksand", sans-serif;
    font-weight: weight;
    font-style: normal;
    margin: 0%;
}

a {
    text-decoration: none;
}

/* BOTÕES */
.btn, .btn2 {
    /* CAIXA */ 
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    margin-bottom: 10px; 
    border-radius: 20px;
    padding: 15px 0; 
    border: 0px;
    width: 100%; 
    /* FONTE */
    font-family: "Quicksand", sans-serif;
    color: rgba(36, 96, 135, 1);
    text-decoration: none;
    text-align: center; 
    font-weight: bold;
    font-size: 20px;
}

.btn3 {
    /* CAIXA */ 
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    background-color: #f5f5f5;
    margin-bottom: 10px; 
    border-radius: 20px;
    padding: 15px 0; 
    border: 0px;
    width: 100%; 
    /* FONTE */
    font-family: "Quicksand", sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center; 
    font-weight: bold;
    font-size: 15px;
}

.botao-adicional {
    margin: 0px;
    justify-content: center;
}
/* Estilos para telas maiores */

@media (min-width: 640px) {
    .btn3 {
        width: calc(33.33% - 15px); /* Calcula a largura das colunas com margem entre elas */
        margin-right: 10px; /* Espaço entre as colunas */
        margin-bottom: 10px;
        flex-grow: 1; 
        text-align: center;/* Faz com que os botões expandam para preencher o espaço restante */
    }
}



.btn:active,
.btn:focus {
    background-color: rgba(36, 96, 135, 1);
    color: white;
}

.btn2:active,
.btn2:focus {
    background-color: rgba(36, 96, 135, 1);
    color: white;
}

.btn3:active,
.btn3:focus {
    background-color: rgba(36, 96, 135, 1);
    color: white;
}

.btn3:active,
.btn3:focus {
    background-color: rgba(36, 96, 135, 1);
    color: white;
}

.info {
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
    display:none;
}

.info.show{
    display: block;
}