/* NAVBAR */
.navbar {
    box-sizing: border-box; 
    position: fixed;
    display: flex;
    bottom: 3%;
    right: 7%;
    left: 7%;  
}

@media (max-width: 768px) {
    .navbar {
        flex: 0 0 100%; 
        margin: 5px 0; 
    }
}

@media (min-width: 769px) {
    .navbar {
        flex: 0 0 calc(50% - 20px); 
        margin: 0px 20px 5px 0px ; 
    }
}

#Voltar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 25px;
    padding: 15px;
    border: 0px;
    width: 40px;
    backdrop-filter: blur(30px);
}

.MeioBox {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(30px);
    margin: 0px 10px 5px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    display: flex;
    border: 0px;
    flex: 1;
    
}

.BoxSelec {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right,
    rgba(12, 32, 66, 1),
    rgba(26, 106, 148, 1),
    rgba(39, 169, 219, 1));
    margin: 0px 10px 5px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    display: flex;
    border: 0px;
    flex: 1;
}

.container {
    box-sizing: border-box; 
    flex-wrap: wrap;
    max-width: 100%; 
    display: flex;
}

.button {
    background-color: transparent;
    cursor: pointer; 
    border: 0px;
}

a {
    font-family: "Quicksand", sans-serif;
    color: rgba(36, 96, 135, 1);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

h8 {
    font-family: "Quicksand", sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}