/* CORPO */
body {
    background-color: rgba(240, 240, 240, 1);
    padding-bottom: 130px;
    margin-right: 6%;
    margin-left: 6%;
}

.bloco1{
   text-align: center;
}

/* FONTES */
h1 {
    background: var(--gradiente-text,
            linear-gradient(rgba(12, 32, 66, 1),
                rgba(39, 169, 219, 1)));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Quicksand";
    word-wrap: break-word;
    background-clip: text;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0%;
    text-align: left;
    font-size: 30px;
    max-width: 45%;
}

h2 {
    font-family: "Quicksand", sans-serif;
    color: rgba(10, 29, 62, 1);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

h3 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 100%;
}

p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0%;
}

a {
    text-decoration: none;
}

/* CAIXA */
.box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}

.ClockIcon {
    width: 80px;
    margin-top: 15px;
}