/* CORPO */
body {
    background-color: rgba(240, 240, 240, 1);
    padding-bottom: 130px;
    margin-right: 6%;
    margin-left: 6%;
}

.bloco1 {
   text-align: start;
   margin-top: 35px;
   display: flex;
}

.bloco2 {
    text-align: start;
    margin-top: 25px;
    display: flex;
}

.bloco3 {
    text-align: start;
    margin-bottom: 2px;
    margin-top: 2px;
    display: flex;
}

.buttons {
    text-align: start;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
}

#acao {
    margin-top: 210px;
}

/* NAVBAR */
.navbar {
    justify-content: space-around;
    background: linear-gradient(to bottom right,
            rgba(12, 32, 66, 1),
            rgba(26, 106, 148, 1),
            rgba(39, 169, 219, 1));
    border-radius: 25px;
    position: fixed;
    text-align: center;
    display: flex;
    padding: 20px;
    bottom: 3%;
    right: 6%;
    left: 6%;
}

.icon {
    text-decoration: none;
    width: 45%;
}

/* FONTES */
h1 {
    background: var(--gradiente-text,
            linear-gradient(rgba(12, 32, 66, 1),
                rgba(39, 169, 219, 1)));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Quicksand";
    word-wrap: break-word;
    background-clip: text;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0%;
    text-align: left;
    font-size: 30px;
    max-width: 45%;
}

h2 {
    font-family: "Quicksand", sans-serif;
    color: rgba(10, 29, 62, 1);
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}

h3 {
    font-family: "Quicksand", sans-serif;
    color: rgba(10, 29, 62, 1);
    font-optical-sizing: auto;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 8px;
}

h4 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    margin-bottom: 0px;
    font-weight: bold;
    margin-top: 16px;
    font-size: 18px;
}

p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0%;
}

a {
    text-decoration: none;
}